<div class="back">
<section class="login-card">
  <h2>About Us</h2>
  <h4>Welcome to our dog breed guessing webpage! We are a team of passionate dog lovers who created this platform to share our love and knowledge of dog breeds with the world.</h4>
  <p>We believe that understanding and appreciating the diversity of dog breeds is important not only for our enjoyment, but also for the health and wellbeing of our furry friends.</p><br>
  <h2>Contact</h2>
  <p>contact@wolken.com</p>
</section>
</div>
<app-footer></app-footer>
